.master-detail {
    margin-top: -95px;
}

.master-detail #item-list, .master-detail #item-detail {
    overflow: scroll;
}

.master-detail #item-detail {
    padding: 30px;
}

.master-detail .fa-spinner {
    text-align: center;
    margin: 4px;
    display: block;
    z-index: 100000;
}

.master-detail #new-item-btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1000;
}